In [16]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
import matplotlib.pyplot as plt

In [17]:


# Example data loading (replace these with actual datasets)
df_2016 = pd.read_csv('../../data/curated/ABS_data_2016.csv')  # Uncomment and replace with your file path
df_2021 = pd.read_csv('../../data/curated/ABS_data_2021.csv')  # Uncomment and replace with your file path

# Sample DataFrame structure for demonstration
# Assuming the structure is something like:
# ABS_data_2016 = pd.DataFrame({'SAL': [1, 2, 3], 'Value': [100, 200, 300]})
# ABS_data_2021 = pd.DataFrame({'SAL': [1, 2, 3], 'Value': [110, 210, 310]})

In [18]:
import pandas as pd

# Merge the DataFrames on 'SAL_CODE'
df = df_2016.merge(df_2021, on='SAL_CODE', suffixes=('_2016', '_2021'))

variables = df_2016.columns[1:]  # Assuming the first column is 'SAL_CODE'

# Calculate the annual rate for each variable
for col in variables:
    df[f'{col}_annual_rate'] = (df[f'{col}_2021'] - df[f'{col}_2016']) / 5

# Generate data for each year from 2016 to 2028
years = range(2016, 2029)
dfs = []
for year in years:
    temp_df = df[['SAL_CODE']].copy()
    for col in variables:
        temp_df[col] = df[f'{col}_2016'] + df[f'{col}_annual_rate'] * (year - 2016)
    temp_df['Year'] = year
    dfs.append(temp_df)

# Combine all years into a single DataFrame
result_df = pd.concat(dfs)

In [19]:
result_df

,SAL_CODE,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size,Year
0,20001,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,2016
1,20002,32.0,2142.0,1068.0,426.0,2459.0,1.10,2001.0,2.10,2016
2,20003,40.0,2200.0,877.0,351.0,2602.0,0.90,2200.0,2.90,2016
3,20004,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,2016
4,20005,57.0,1424.0,598.0,0.0,1406.0,0.70,1109.0,2.20,2016
...,...,...,...,...,...,...,...,...,...,...
2941,22942,62.8,2388.0,294.8,201.6,702.6,1.00,1058.4,2.80,2028
2942,22943,30.6,1696.6,1195.2,230.0,1991.2,1.04,2449.0,3.46,2028
2943,22944,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,2028
2944,29494,-47.6,0.0,-557.2,0.0,0.0,0.00,0.0,0.00,2028
2945,29797,51.4,0.0,1080.0,0.0,0.0,0.00,0.0,0.00,2028

In [20]:
# group by year and export

import os
os.makedirs('../../data/curated/ABS_extrapolated', exist_ok=True)  # Uncomment and replace with your folder path

for year in range(2016,2029):
    res = result_df[result_df['Year'] == year].drop(columns='Year')
    res.to_csv(f'../../data/curated/ABS_extrapolated/ABS_data_{year}.csv', index=False)  # Uncomment and replace with your file path