# Data Merging
This notebook looks to merges all of the data gathered in preprocessing.

Here we split the notebook into 3 sections:
1. Simple Merges
2. Complex Merges
3. Rental Data Merges 

#### Datasets we will look to merge:
Simple Merges:
- Crime records
- Proximity data 1 (train stations & CBD)
- Open Space data

Complex Merges
- Internet Speed (REMOVE?)
- Business data
- ABS data (Australian Bureau of Statistics)
- Population demographics

Rental Merges
- Historical Rental Data (2000-2023)
- Inflation
- Currental Rental Data Scraped from Domain (2024)

Waiting on
- internet speed (2016-2018,2024)
- proximity data 2 (beaches and schools)
- School data?

In [3758]:
import pandas as pd
import json

### 1 Simple Merges

In [3759]:
# read in the crime data
crime_df = pd.read_csv('../data/curated/crime_suburb_data.csv')
crime_df = crime_df.rename(columns={"SAL_CODE_2021": "SAL_CODE"})
crime_df = crime_df.drop(columns=["suburb_name"])
crime_df

,SAL_CODE,2015_A Crimes against the person,2015_B Property and deception offences,2015_C Drug offences,2015_D Public order and security offences,2015_E Justice procedures offences,2015_F Other offences,2015_total,2016_A Crimes against the person,2016_B Property and deception offences,...,2023_F Other offences,2023_total,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,all_crimes_2015-2024
0,20001,0,0,0,1,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,7
1,20002,10,18,3,7,4,0,42,13,16,...,1,49,11,16,4,8,6,1,46,479
2,20003,6,11,2,0,1,0,20,8,11,...,0,22,7,11,0,2,3,0,23,238
3,20004,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2
4,20005,1,1,0,0,0,0,2,0,0,...,0,1,1,0,0,0,1,0,2,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2842,22940,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,5
2843,22941,1,7,0,0,2,0,10,1,5,...,0,7,2,4,0,1,1,0,8,78
2844,22942,0,2,1,0,0,0,3,0,2,...,0,2,0,0,0,0,0,0,0,9
2845,22943,1,2,0,0,0,0,3,5,4,...,0,6,0,1,0,0,1,0,2,46
2846,22944,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6

In [3760]:
# read in the proximity data
proximity1_df = pd.read_csv('../data/landing/suburb_proximity_data.csv')
proximity1_df = proximity1_df.drop(columns="Unnamed: 0")
proximity1_df = proximity1_df.rename(columns={"SAL_CODE_2021": "SAL_CODE"})
proximity1_df

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,closest_station_1_LONGITUDE,closest_station_2_STOP_NAME,closest_station_2_LATITUDE,closest_station_2_LONGITUDE,suburb_centre_latitude,suburb_centre_longitude,distance_to_CBD,time_to_CBD,distance_to_station,time_to_station
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,144.966964,Southern Cross,-37.817936,144.951411,-37.845178,144.961053,4640.7,590.0,3801.0,499.7
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,144.989860,Windsor,-37.856053,144.992035,-37.851145,144.962020,5451.7,681.5,3704.9,492.8
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,144.989860,Windsor,-37.856053,144.992035,-37.857961,144.971254,6547.7,772.4,2494.7,406.4
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,145.019326,Toorak,-37.850774,145.013909,-37.856664,145.020235,9160.9,963.8,520.5,106.9
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,144.958717,Royal Park,-37.781193,144.952301,-37.786593,144.968494,3661.4,431.2,2360.6,305.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,146.537882,Morwell,-38.236719,146.396753,-38.203343,146.519781,161750.0,7073.1,1707.7,136.0
564,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,146.317038,Springhurst,-36.185893,146.470417,-36.369384,146.316005,240991.9,10137.1,2716.7,340.3
565,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,145.932674,Drouin,-38.136452,145.855947,-38.153720,145.929971,104026.8,5013.4,1879.0,228.4
566,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,142.475545,Warrnambool,-38.386392,142.538871,-38.368860,142.498179,255755.7,11370.1,3084.6,390.3
567,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,146.871266,Chiltern,-36.155637,146.611375,-36.123062,146.881812,311165.5,12737.0,3178.4,459.1

In [3761]:
# read in the open space data
open_spaces_df = pd.read_csv('../data/curated/open_space.csv')
open_spaces_df

,SAL_CODE,Cemeteries,Civic squares and promenades,Conservation reserves,Government schools,Natural and semi-natural open space,Non-government schools,Parks and gardens,Public housing reserves,Recreation corridor,Services and utilities reserves,Sportsfields and organised recreation,Tertiary institutions,Transport reservations
0,20002,0,0,0,1,15,2,31,0,1,0,1,0,0
1,20003,0,0,0,1,2,5,3,0,2,0,2,0,1
2,20006,0,0,0,0,2,0,0,0,0,0,0,0,0
3,20011,0,0,0,0,6,0,0,0,0,0,0,0,0
4,20015,0,0,0,1,3,1,16,0,8,0,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,22911,1,0,2,3,24,3,3,0,6,31,6,0,0
565,22916,0,0,0,1,23,1,0,0,0,0,7,0,3
566,22917,1,0,0,6,21,1,33,0,0,0,15,0,2
567,22925,0,0,64,1,22,0,0,0,0,15,3,0,0
568,22930,0,0,5,1,7,0,0,0,15,0,4,0,0

In [3762]:
# Start by merging the first DataFrame (proximity1_df) with the crime data
combined_df = proximity1_df
combined_df = combined_df.merge(crime_df, on='SAL_CODE', how='left')
combined_df

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,2023_F Other offences,2023_total,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,all_crimes_2015-2024
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,...,0,35,8,14,3,6,4,0,35,367
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,0,29,7,13,2,3,3,0,28,291
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,1,32,11,12,1,2,5,0,31,326
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,...,0,39,15,15,2,4,5,1,42,381
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,...,0,48,12,18,2,6,5,0,43,458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,...,2,61,17,20,5,10,8,1,61,625
564,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,...,5,59,17,17,3,9,8,1,55,582
565,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,...,3,54,16,18,4,9,6,4,57,558
566,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,...,1,57,16,19,5,9,9,2,60,633
567,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,...,1,60,15,18,4,9,9,2,57,590

In [3763]:
combined_df = combined_df.drop(92) # this suburb is a dupilcate, remove it
combined_df

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,2023_F Other offences,2023_total,2024_A Crimes against the person,2024_B Property and deception offences,2024_C Drug offences,2024_D Public order and security offences,2024_E Justice procedures offences,2024_F Other offences,2024_total,all_crimes_2015-2024
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,...,0,35,8,14,3,6,4,0,35,367
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,0,29,7,13,2,3,3,0,28,291
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,1,32,11,12,1,2,5,0,31,326
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,...,0,39,15,15,2,4,5,1,42,381
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,...,0,48,12,18,2,6,5,0,43,458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,...,2,61,17,20,5,10,8,1,61,625
564,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,...,5,59,17,17,3,9,8,1,55,582
565,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,...,3,54,16,18,4,9,6,4,57,558
566,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,...,1,57,16,19,5,9,9,2,60,633
567,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,...,1,60,15,18,4,9,9,2,57,590

In [3764]:
# merge open space data in
combined_df = combined_df.merge(open_spaces_df, on='SAL_CODE', how='left')

# open space data did not have records for regional suburbs e.g. Ballarat
# we will impute these values as the average amount of that column
for col in open_spaces_df.columns:
    combined_df[col] = combined_df[col].fillna(combined_df[col].mean())
combined_df

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,Government schools,Natural and semi-natural open space,Non-government schools,Parks and gardens,Public housing reserves,Recreation corridor,Services and utilities reserves,Sportsfields and organised recreation,Tertiary institutions,Transport reservations
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,...,2.000000,7.000000,0.000000,13.000000,0.000000,0.000000,0.000000,15.0000,0.000000,28.000000
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,4.000000,6.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.0000,0.000000,3.000000
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,0.000000,4.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.0000,0.000000,3.000000
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,...,1.000000,0.000000,2.000000,5.000000,0.000000,0.000000,0.000000,1.0000,0.000000,0.000000
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,...,1.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,6.0000,0.000000,25.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,...,2.951644,23.286267,1.686654,16.417795,0.011605,8.357834,3.754352,6.4294,1.446809,11.665377
563,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,...,2.951644,23.286267,1.686654,16.417795,0.011605,8.357834,3.754352,6.4294,1.446809,11.665377
564,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,...,2.951644,23.286267,1.686654,16.417795,0.011605,8.357834,3.754352,6.4294,1.446809,11.665377
565,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,...,2.951644,23.286267,1.686654,16.417795,0.011605,8.357834,3.754352,6.4294,1.446809,11.665377
566,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,...,2.951644,23.286267,1.686654,16.417795,0.011605,8.357834,3.754352,6.4294,1.446809,11.665377

### 2 Complex Merges

In [3765]:
# merge in all internet speed data (2019-2023)
for year in range(2019,2024):
    
    # merge in the data
    df = pd.read_csv(f'../data/curated/{year}_fixed_broadband.csv')
    df = df.rename(columns=lambda x: f"{year}_{x}")
    df = df.rename(columns={f"{year}_SAL_CODE": "SAL_CODE"})
    df = df.fillna(df.mean())
    combined_df = combined_df.merge(df, on='SAL_CODE', how='left')

    # there are 15 suburbs which have missing values, we will impute this as the average speed and no. of tests for the year
    for col in df.columns:
        if col != "SAL_CODE":
            combined_df[col] = combined_df[col].fillna(combined_df[col].mean())
combined_df

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,2019_avg_d_mbps_wt,2019_tests,2020_avg_d_mbps_wt,2020_tests,2021_avg_d_mbps_wt,2021_tests,2022_avg_d_mbps_wt,2022_tests,2023_avg_d_mbps_wt,2023_tests
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,...,37.931965,3254.0,51.042313,1149.0,66.152197,1646.0,83.432764,1848.0,93.576469,1789.0
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,30.159863,1055.0,44.642168,346.0,57.853828,425.0,77.636116,751.0,92.521495,554.0
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,34.300256,1324.0,56.852016,380.0,85.948588,483.0,69.705508,449.0,88.860792,394.0
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,...,40.407101,2314.0,61.709683,836.0,98.557072,926.0,97.073570,1136.0,118.337250,1058.0
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,...,41.026550,2648.0,63.594400,866.0,88.444155,1448.0,105.641236,1137.0,117.156985,1281.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,...,31.182066,1988.0,40.137928,682.0,47.425249,1168.0,51.854272,1724.0,93.357196,1827.0
563,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,...,31.905281,958.0,39.977757,304.0,45.278892,427.0,49.710887,549.0,73.142582,778.0
564,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,...,30.549726,1509.0,38.864887,450.0,48.383046,1055.0,57.459782,946.0,79.056109,1078.0
565,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,...,30.305406,2055.0,43.457348,919.0,48.816609,1098.0,56.558549,1361.0,62.494119,1319.0
566,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,...,32.746037,1094.0,33.911807,393.0,56.668435,695.0,57.969633,1298.0,78.549918,1204.0

In [3766]:
# merge in all business data (216-2024)
for year in range(2016,2025):
    
    # merge in the data
    df = pd.read_csv(f'../data/curated/osm_data_{year}.csv')
    df = df.rename(columns=lambda x: f"{year}_{x}")
    df = df.rename(columns={f"{year}_SAL_CODE": "SAL_CODE"})
    combined_df = combined_df.merge(df, on='SAL_CODE', how='left')

    # impute missing business data as the average amount for that business in a suburb
    for col in df.columns:
        if col != "SAL_CODE":
            combined_df[col] = combined_df[col].fillna(combined_df[col].mean())

combined_df

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,2024_Unnamed: 0,2024_commercial,2024_education,2024_food_establishments,2024_healthcare,2024_industrial,2024_public_transport,2024_recreation,2024_residential,2024_shopping
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,...,11976,9.655,3.000,47.050,10.000,0.000,0.0,34.012,18.000,22.000
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,12296,8.000,2.680,12.283,6.000,0.000,0.0,5.009,14.000,4.131
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,12438,1.000,0.000,4.000,0.000,0.000,0.0,7.000,10.000,0.000
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,...,11984,15.000,4.000,9.000,0.000,0.000,0.0,11.000,12.000,12.000
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,...,12070,3.000,3.000,21.572,4.000,0.000,0.0,10.596,1.000,8.758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,...,12471,5.645,13.869,45.827,12.306,4.000,0.0,99.295,29.246,16.405
563,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,...,12488,64.196,19.156,27.000,21.608,25.801,-0.0,56.616,140.200,21.000
564,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,...,12493,5.918,13.991,60.618,14.047,9.150,0.0,49.190,20.025,38.949
565,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,...,12496,10.045,18.000,59.868,7.000,4.000,0.0,122.835,16.396,23.996
566,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,...,12517,43.071,13.000,47.501,18.000,27.789,0.0,127.576,100.953,14.958

In [3767]:
# merge in all ABS data (2016-2024)
# note most of this data is artifical made through ARIMA
for year in range(2016,2025):
    df = pd.read_csv(f'../data/curated/ABS_extrapolated/ABS_data_{year}.csv')
    df = df.rename(columns=lambda x: f"{year}_{x}")
    df = df.rename(columns={f"{year}_SAL_CODE": "SAL_CODE"})
    df = df.drop(columns=f"{year}_Median_rent_weekly")
    combined_df = combined_df.merge(df, on='SAL_CODE', how='left')
    print(combined_df.shape)
combined_df

(567, 203)
(567, 210)
(567, 217)
(567, 224)
(567, 231)
(567, 238)
(567, 245)
(567, 252)
(567, 259)

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,2023_Average_num_psns_per_bedroom,2023_Median_tot_hhd_inc_weekly,2023_Average_household_size,2024_Median_age_persons,2024_Median_mortgage_repay_monthly,2024_Median_tot_prsnl_inc_weekly,2024_Median_tot_fam_inc_weekly,2024_Average_num_psns_per_bedroom,2024_Median_tot_hhd_inc_weekly,2024_Average_household_size
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,...,0.90,2641.0,2.16,47.8,3800.0,1440.4,4102.4,0.90,2695.0,2.14
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,0.90,3029.2,2.30,46.8,3747.2,1556.6,4283.4,0.90,3125.8,2.30
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,1.00,2035.0,1.90,41.8,2379.8,1410.6,3493.6,1.00,2061.0,1.90
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,...,0.90,2274.2,1.96,38.6,2522.8,1531.0,3764.6,0.90,2314.8,1.94
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,...,0.90,2544.4,2.30,33.0,2800.0,1338.2,3412.2,0.90,2616.6,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,...,0.66,1574.0,2.26,39.6,1300.0,846.8,2149.2,0.64,1619.0,2.24
563,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,...,0.70,1301.6,2.20,44.0,1300.0,772.0,1909.4,0.70,1343.4,2.20
564,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,...,0.70,1711.0,2.54,38.8,1738.4,850.0,2265.4,0.70,1785.0,2.56
565,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,...,0.66,1481.0,2.30,42.6,1408.0,833.0,2088.4,0.64,1529.0,2.30
566,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,...,0.66,1309.0,2.14,43.5,1299.1,755.0,1876.9,0.64,1281.5,2.06

In [3768]:
# read in all population data (2016-2024)
for year in range(2016,2025):
    df = pd.read_csv(f'../data/raw/pop_projections/pop_{year}.csv')
    df = df.rename(columns=lambda x: f"{year}_{x}")
    df = df.rename(columns={f"{year}_SAL_CODE": "SAL_CODE"})
    combined_df = combined_df.merge(df, on='SAL_CODE', how='left')
    print(combined_df.shape)
combined_df

(567, 261)
(567, 263)
(567, 265)
(567, 267)
(567, 269)
(567, 271)
(567, 273)
(567, 275)
(567, 277)

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,2020_Total_dwelings,2020_Tot_P_P,2021_Total_dwelings,2021_Tot_P_P,2022_Total_dwelings,2022_Tot_P_P,2023_Total_dwelings,2023_Tot_P_P,2024_Total_dwelings,2024_Tot_P_P
0,Inner Melbourne,Albert Park,20018,Albert Park-Middle Park-West St Kilda,2.8392,POLYGON ((144.9544458560001 -37.83793759699995...,0.0,"[{'STOP_NAME': 'Flinders Street', 'LATITUDE': ...",Flinders Street,-37.818305,...,17005.0,36177.6,19636.0,41376.0,21296.800000,42185.233228,22957.600000,42994.466456,24618.400000,43803.699684
1,Inner Melbourne,Middle Park,21677,Albert Park-Middle Park-West St Kilda,0.8475,POLYGON ((144.9613463640001 -37.84558110699993...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,7018.6,15736.8,7153.0,15825.0,7667.400000,16067.786417,8181.800000,16310.572834,8696.200000,16553.359251
2,Inner Melbourne,St Kilda West,22345,Albert Park-Middle Park-West St Kilda,0.5290,POLYGON ((144.9701782210001 -37.85371962799996...,0.0,"[{'STOP_NAME': 'Prahran', 'LATITUDE': -37.8495...",Prahran,-37.849518,...,12491.4,26823.2,13994.0,29683.0,15169.400000,30207.653580,16344.800000,30732.307160,17520.200000,31256.960740
3,Inner Melbourne,Armadale,20066,Armadale,2.1430,"POLYGON ((145.024852482 -37.85092855199997, 14...",2.0,"[{'STOP_NAME': 'Armadale', 'LATITUDE': -37.856...",Armadale,-37.856452,...,43463.0,99691.8,44080.0,99822.0,46852.600000,101663.374819,49625.200000,103504.749638,52397.800000,105346.124457
4,Inner Melbourne,Carlton North,20496,Carlton North,1.8709,"POLYGON ((144.972592307 -37.79269848799998, 14...",0.0,"[{'STOP_NAME': 'Jewell', 'LATITUDE': -37.77498...",Jewell,-37.774987,...,28851.8,68139.8,30167.0,70640.0,32486.400000,73371.230304,34805.800000,76102.460609,37125.200000,78833.690913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,Other Regional Centres,Traralgon,22569,Traralgon,56.2821,"POLYGON ((146.561066146 -38.18788998399998, 14...",1.0,"[{'STOP_NAME': 'Traralgon', 'LATITUDE': -38.19...",Traralgon,-38.198885,...,20882.2,53850.2,23274.0,59873.0,24319.867030,60284.775211,25365.734060,60696.550423,26411.601090,61108.325634
563,Other Regional Centres,Wangaratta,22680,Wanagaratta,48.7989,POLYGON ((146.3101672580001 -36.38755634399996...,1.0,"[{'STOP_NAME': 'Wangaratta', 'LATITUDE': -36.3...",Wangaratta,-36.355101,...,11674.6,29507.6,11849.0,29807.0,12353.900000,29974.012162,12858.800000,30141.024324,13363.700000,30308.036486
564,Other Regional Centres,Warragul,22698,Warragul,55.3164,POLYGON ((145.9445994800001 -38.12758481799995...,1.0,"[{'STOP_NAME': 'Warragul', 'LATITUDE': -38.165...",Warragul,-38.165229,...,17589.4,47724.0,18274.0,49409.0,19409.753618,50733.481300,20545.507236,52057.962600,21681.260855,53382.443900
565,Other Regional Centres,Warrnambool,22710,Warrnambool,65.5160,"POLYGON ((142.460390336 -38.33167768199996, 14...",2.0,"[{'STOP_NAME': 'Warrnambool', 'LATITUDE': -38....",Warrnambool,-38.385014,...,20039.6,52238.8,20421.0,52774.0,21534.707701,53075.137464,22648.415402,53376.274928,23762.123103,53677.412391
566,Other Regional Centres,Wodonga,22819,Wodonga,37.4663,POLYGON ((146.8876058010001 -36.15475196599994...,1.0,"[{'STOP_NAME': 'Wodonga', 'LATITUDE': -36.1058...",Wodonga,-36.105827,...,14183.0,37595.8,16374.0,43256.0,17085.000000,43855.815406,17796.000000,44455.630811,18507.000000,45055.446217

### 3 Rental Data Merges

#### 3.1 Historical Rent Merging

In [3769]:
# read in the historical rent data
historical_rent_df = pd.read_csv("../data/curated/historical_rent_cleaned.csv")
#historical_rent_df[historical_rent_df.isna().any(axis=1)]
historical_rent_df

,SAL_CODE,2000_average_weekly_rent,2000_average_quarterly_count,2001_average_weekly_rent,2001_average_quarterly_count,2002_average_weekly_rent,2002_average_quarterly_count,2003_average_weekly_rent,2003_average_quarterly_count,2004_average_weekly_rent,...,2020_average_weekly_rent,2020_average_quarterly_count,2021_average_weekly_rent,2021_average_quarterly_count,2022_average_weekly_rent,2022_average_quarterly_count,2023_average_weekly_rent,2023_average_quarterly_count,2024_average_weekly_rent,2024_average_quarterly_count
0,20111,137.00,979.50,141.25,857.00,151.25,896.00,161.25,948.25,171.25,...,317.50,1743.75,331.25,1632.25,355.00,1546.50,371.25,1473.25,380.0,1345.0
1,20198,190.00,505.75,207.75,502.50,216.25,529.00,221.25,525.75,226.25,...,466.25,720.00,457.00,643.25,432.50,872.25,495.00,764.75,550.0,729.0
2,21193,200.00,608.25,207.50,765.50,210.00,1059.50,210.00,1334.00,217.50,...,400.00,2389.25,400.00,2591.50,411.25,3047.50,437.50,3557.00,470.0,3777.0
3,21640,320.00,2278.75,320.00,2752.50,320.00,3382.75,305.00,3972.75,300.00,...,483.75,10206.25,366.25,16559.25,426.25,14627.75,587.50,13547.25,640.0,13582.0
4,21938,142.50,443.50,151.25,434.75,161.25,429.50,171.25,473.00,178.75,...,390.75,434.50,407.50,428.50,432.50,365.25,465.00,312.50,475.0,356.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,22916,185.00,1511.00,196.25,1579.75,208.75,1565.75,216.25,1703.50,222.50,...,402.50,2991.00,407.50,2879.00,423.75,3105.00,462.50,2728.75,500.0,2440.0
563,22917,178.75,947.25,187.50,939.00,200.00,947.00,210.00,1037.25,218.75,...,491.25,1268.25,477.50,1321.25,475.00,1391.75,521.25,1280.00,570.0,1070.0
564,22925,152.50,1285.00,162.50,1280.50,170.00,1258.50,180.00,1315.00,192.50,...,400.00,873.50,415.00,721.75,450.75,733.00,486.25,767.75,500.0,729.0
565,22930,152.50,1285.00,162.50,1280.50,170.00,1258.50,180.00,1315.00,192.50,...,400.00,873.50,415.00,721.75,450.75,733.00,486.25,767.75,500.0,729.0
566,22941,177.50,224.00,185.00,240.00,191.25,251.00,198.75,293.25,201.50,...,390.00,2587.25,390.00,2719.75,407.50,2758.25,441.25,2647.00,480.0,2445.0

In [3770]:
print(combined_df['SAL_CODE'].duplicated().sum())  # To check duplicates in combined_df
print(historical_rent_df['SAL_CODE'].duplicated().sum())  # To check duplicates in df for each year

0
0

In [3771]:
# merge all the historical data
# IMPORTANT SIDENOTE: this data has data for 2024 even though it is not in specified data range
# this explained in the domain data merging (subsection below as to why this is done)
print("combined shape before:", combined_df.shape)
combined_df = combined_df.merge(historical_rent_df, on='SAL_CODE', how='right')
print("combined shape before:", combined_df.shape)

# ensure no entry is null
df = combined_df
df[df.isna().any(axis=1)]

combined shape before: (567, 277)
combined shape before: (567, 327)

Empty DataFrame
Columns: [Suburb Cluster, SAL_suburb, SAL_CODE, Suburb Group, AREASQKM21, geometry, station_count_in_suburb, closest_stations, closest_station_1_STOP_NAME, closest_station_1_LATITUDE, closest_station_1_LONGITUDE, closest_station_2_STOP_NAME, closest_station_2_LATITUDE, closest_station_2_LONGITUDE, suburb_centre_latitude, suburb_centre_longitude, distance_to_CBD, time_to_CBD, distance_to_station, time_to_station, 2015_A Crimes against the person, 2015_B Property and deception offences, 2015_C Drug offences, 2015_D Public order and security offences, 2015_E Justice procedures offences, 2015_F Other offences, 2015_total, 2016_A Crimes against the person, 2016_B Property and deception offences, 2016_C Drug offences, 2016_D Public order and security offences, 2016_E Justice procedures offences, 2016_F Other offences, 2016_total, 2017_A Crimes against the person, 2017_B Property and deception offences, 2017_C Drug offences, 2017_D Public order and security offences, 2017_E Justice procedures offences, 2017_F Other offences, 2017_total, 2018_A Crimes against the person, 2018_B Property and deception offences, 2018_C Drug offences, 2018_D Public order and security offences, 2018_E Justice procedures offences, 2018_F Other offences, 2018_total, 2019_A Crimes against the person, 2019_B Property and deception offences, 2019_C Drug offences, 2019_D Public order and security offences, 2019_E Justice procedures offences, 2019_F Other offences, 2019_total, 2020_A Crimes against the person, 2020_B Property and deception offences, 2020_C Drug offences, 2020_D Public order and security offences, 2020_E Justice procedures offences, 2020_F Other offences, 2020_total, 2021_A Crimes against the person, 2021_B Property and deception offences, 2021_C Drug offences, 2021_D Public order and security offences, 2021_E Justice procedures offences, 2021_F Other offences, 2021_total, 2022_A Crimes against the person, 2022_B Property and deception offences, 2022_C Drug offences, 2022_D Public order and security offences, 2022_E Justice procedures offences, 2022_F Other offences, 2022_total, 2023_A Crimes against the person, 2023_B Property and deception offences, 2023_C Drug offences, 2023_D Public order and security offences, 2023_E Justice procedures offences, 2023_F Other offences, 2023_total, 2024_A Crimes against the person, 2024_B Property and deception offences, 2024_C Drug offences, 2024_D Public order and security offences, 2024_E Justice procedures offences, 2024_F Other offences, 2024_total, all_crimes_2015-2024, Cemeteries, Civic squares and promenades, Conservation reserves, Government schools, Natural and semi-natural open space, Non-government schools, Parks and gardens, Public housing reserves, Recreation corridor, ...]
Index: []

[0 rows x 327 columns]

In [3772]:
l = list(combined_df["SAL_CODE"])
for s in list(historical_rent_df["SAL_CODE"]):
    if s not in l:
        print(s)

#### 3.2 Combined Data Restructuring

In [3773]:
# spilt the columns in of the combined df into two categories
# those column with entries of a particular and those that do not change with time (annually)
df = combined_df

year_columns = [col for col in df.columns if any(str(year) in col for year in range(2000, 2025))]
print(year_columns)
not_year_columns = []
for col in combined_df.columns:
    if str(col) not in year_columns:
        not_year_columns.append(col)
print(not_year_columns)

['2015_A Crimes against the person', '2015_B Property and deception offences', '2015_C Drug offences', '2015_D Public order and security offences', '2015_E Justice procedures offences', '2015_F Other offences', '2015_total', '2016_A Crimes against the person', '2016_B Property and deception offences', '2016_C Drug offences', '2016_D Public order and security offences', '2016_E Justice procedures offences', '2016_F Other offences', '2016_total', '2017_A Crimes against the person', '2017_B Property and deception offences', '2017_C Drug offences', '2017_D Public order and security offences', '2017_E Justice procedures offences', '2017_F Other offences', '2017_total', '2018_A Crimes against the person', '2018_B Property and deception offences', '2018_C Drug offences', '2018_D Public order and security offences', '2018_E Justice procedures offences', '2018_F Other offences', '2018_total', '2019_A Crimes against the person', '2019_B Property and deception offences', '2019_C Drug offences', '2019_D Public order and security offences', '2019_E Justice procedures offences', '2019_F Other offences', '2019_total', '2020_A Crimes against the person', '2020_B Property and deception offences', '2020_C Drug offences', '2020_D Public order and security offences', '2020_E Justice procedures offences', '2020_F Other offences', '2020_total', '2021_A Crimes against the person', '2021_B Property and deception offences', '2021_C Drug offences', '2021_D Public order and security offences', '2021_E Justice procedures offences', '2021_F Other offences', '2021_total', '2022_A Crimes against the person', '2022_B Property and deception offences', '2022_C Drug offences', '2022_D Public order and security offences', '2022_E Justice procedures offences', '2022_F Other offences', '2022_total', '2023_A Crimes against the person', '2023_B Property and deception offences', '2023_C Drug offences', '2023_D Public order and security offences', '2023_E Justice procedures offences', '2023_F Other offences', '2023_total', '2024_A Crimes against the person', '2024_B Property and deception offences', '2024_C Drug offences', '2024_D Public order and security offences', '2024_E Justice procedures offences', '2024_F Other offences', '2024_total', 'all_crimes_2015-2024', '2019_avg_d_mbps_wt', '2019_tests', '2020_avg_d_mbps_wt', '2020_tests', '2021_avg_d_mbps_wt', '2021_tests', '2022_avg_d_mbps_wt', '2022_tests', '2023_avg_d_mbps_wt', '2023_tests', '2016_commercial', '2016_education', '2016_food_establishments', '2016_healthcare', '2016_industrial', '2016_public_transport', '2016_recreation', '2016_residential', '2016_shopping', '2017_commercial', '2017_education', '2017_food_establishments', '2017_healthcare', '2017_industrial', '2017_public_transport', '2017_recreation', '2017_residential', '2017_shopping', '2018_commercial', '2018_education', '2018_food_establishments', '2018_healthcare', '2018_industrial', '2018_public_transport', '2018_recreation', '2018_residential', '2018_shopping', '2019_commercial', '2019_education', '2019_food_establishments', '2019_healthcare', '2019_industrial', '2019_public_transport', '2019_recreation', '2019_residential', '2019_shopping', '2020_commercial', '2020_education', '2020_food_establishments', '2020_healthcare', '2020_industrial', '2020_public_transport', '2020_recreation', '2020_residential', '2020_shopping', '2021_commercial', '2021_education', '2021_food_establishments', '2021_healthcare', '2021_industrial', '2021_public_transport', '2021_recreation', '2021_residential', '2021_shopping', '2022_commercial', '2022_education', '2022_food_establishments', '2022_healthcare', '2022_industrial', '2022_public_transport', '2022_recreation', '2022_residential', '2022_shopping', '2023_commercial', '2023_education', '2023_food_establishments', '2023_healthcare', '2023_industrial', '2023_public_transport', '2023_recreation', '2023_residential', '2023_shopping', '2024_Unnamed: 0', '2024_commercial', '2024_education', '2024_food_establishments', '2024_healthcare', '2024_industrial', '2024_public_transport', '2024_recreation', '2024_residential', '2024_shopping', '2016_Median_age_persons', '2016_Median_mortgage_repay_monthly', '2016_Median_tot_prsnl_inc_weekly', '2016_Median_tot_fam_inc_weekly', '2016_Average_num_psns_per_bedroom', '2016_Median_tot_hhd_inc_weekly', '2016_Average_household_size', '2017_Median_age_persons', '2017_Median_mortgage_repay_monthly', '2017_Median_tot_prsnl_inc_weekly', '2017_Median_tot_fam_inc_weekly', '2017_Average_num_psns_per_bedroom', '2017_Median_tot_hhd_inc_weekly', '2017_Average_household_size', '2018_Median_age_persons', '2018_Median_mortgage_repay_monthly', '2018_Median_tot_prsnl_inc_weekly', '2018_Median_tot_fam_inc_weekly', '2018_Average_num_psns_per_bedroom', '2018_Median_tot_hhd_inc_weekly', '2018_Average_household_size', '2019_Median_age_persons', '2019_Median_mortgage_repay_monthly', '2019_Median_tot_prsnl_inc_weekly', '2019_Median_tot_fam_inc_weekly', '2019_Average_num_psns_per_bedroom', '2019_Median_tot_hhd_inc_weekly', '2019_Average_household_size', '2020_Median_age_persons', '2020_Median_mortgage_repay_monthly', '2020_Median_tot_prsnl_inc_weekly', '2020_Median_tot_fam_inc_weekly', '2020_Average_num_psns_per_bedroom', '2020_Median_tot_hhd_inc_weekly', '2020_Average_household_size', '2021_Median_age_persons', '2021_Median_mortgage_repay_monthly', '2021_Median_tot_prsnl_inc_weekly', '2021_Median_tot_fam_inc_weekly', '2021_Average_num_psns_per_bedroom', '2021_Median_tot_hhd_inc_weekly', '2021_Average_household_size', '2022_Median_age_persons', '2022_Median_mortgage_repay_monthly', '2022_Median_tot_prsnl_inc_weekly', '2022_Median_tot_fam_inc_weekly', '2022_Average_num_psns_per_bedroom', '2022_Median_tot_hhd_inc_weekly', '2022_Average_household_size', '2023_Median_age_persons', '2023_Median_mortgage_repay_monthly', '2023_Median_tot_prsnl_inc_weekly', '2023_Median_tot_fam_inc_weekly', '2023_Average_num_psns_per_bedroom', '2023_Median_tot_hhd_inc_weekly', '2023_Average_household_size', '2024_Median_age_persons', '2024_Median_mortgage_repay_monthly', '2024_Median_tot_prsnl_inc_weekly', '2024_Median_tot_fam_inc_weekly', '2024_Average_num_psns_per_bedroom', '2024_Median_tot_hhd_inc_weekly', '2024_Average_household_size', '2016_Total_dwelings', '2016_Tot_P_P', '2017_Total_dwelings', '2017_Tot_P_P', '2018_Total_dwelings', '2018_Tot_P_P', '2019_Total_dwelings', '2019_Tot_P_P', '2020_Total_dwelings', '2020_Tot_P_P', '2021_Total_dwelings', '2021_Tot_P_P', '2022_Total_dwelings', '2022_Tot_P_P', '2023_Total_dwelings', '2023_Tot_P_P', '2024_Total_dwelings', '2024_Tot_P_P', '2000_average_weekly_rent', '2000_average_quarterly_count', '2001_average_weekly_rent', '2001_average_quarterly_count', '2002_average_weekly_rent', '2002_average_quarterly_count', '2003_average_weekly_rent', '2003_average_quarterly_count', '2004_average_weekly_rent', '2004_average_quarterly_count', '2005_average_weekly_rent', '2005_average_quarterly_count', '2006_average_weekly_rent', '2006_average_quarterly_count', '2007_average_weekly_rent', '2007_average_quarterly_count', '2008_average_weekly_rent', '2008_average_quarterly_count', '2009_average_weekly_rent', '2009_average_quarterly_count', '2010_average_weekly_rent', '2010_average_quarterly_count', '2011_average_weekly_rent', '2011_average_quarterly_count', '2012_average_weekly_rent', '2012_average_quarterly_count', '2013_average_weekly_rent', '2013_average_quarterly_count', '2014_average_weekly_rent', '2014_average_quarterly_count', '2015_average_weekly_rent', '2015_average_quarterly_count', '2016_average_weekly_rent', '2016_average_quarterly_count', '2017_average_weekly_rent', '2017_average_quarterly_count', '2018_average_weekly_rent', '2018_average_quarterly_count', '2019_average_weekly_rent', '2019_average_quarterly_count', '2020_average_weekly_rent', '2020_average_quarterly_count', '2021_average_weekly_rent', '2021_average_quarterly_count', '2022_average_weekly_rent', '2022_average_quarterly_count', '2023_average_weekly_rent', '2023_average_quarterly_count', '2024_average_weekly_rent', '2024_average_quarterly_count']
['Suburb Cluster', 'SAL_suburb', 'SAL_CODE', 'Suburb Group', 'AREASQKM21', 'geometry', 'station_count_in_suburb', 'closest_stations', 'closest_station_1_STOP_NAME', 'closest_station_1_LATITUDE', 'closest_station_1_LONGITUDE', 'closest_station_2_STOP_NAME', 'closest_station_2_LATITUDE', 'closest_station_2_LONGITUDE', 'suburb_centre_latitude', 'suburb_centre_longitude', 'distance_to_CBD', 'time_to_CBD', 'distance_to_station', 'time_to_station', 'Cemeteries', 'Civic squares and promenades', 'Conservation reserves', 'Government schools', 'Natural and semi-natural open space', 'Non-government schools', 'Parks and gardens', 'Public housing reserves', 'Recreation corridor', 'Services and utilities reserves', 'Sportsfields and organised recreation', 'Tertiary institutions', 'Transport reservations']

In [3774]:
# This sections melts the df columns so that the columns that contain a year in their title are reduced into one column.
# The year is now an extra column.
# This dramatrically decreases the number of columns and gives as for rows (observations for modelling)

# Step 1: Melt the DataFrame from wide to long format
melted_df = pd.melt(df, 
                    id_vars=not_year_columns, 
                    value_vars=year_columns, 
                    var_name='variable_year', 
                    value_name='value')

# Step 2: Extract the 'year' and 'variable' from the 'variable_year' column
melted_df['year'] = melted_df['variable_year'].str.extract(r'(\d{4})')
melted_df['variable'] = melted_df['variable_year'].str.replace(r'\d{4}_', '', regex=True)

# Step 3: Drop the original 'variable_year' column as it's no longer needed
melted_df = melted_df.drop(columns=['variable_year'])

not_year_columns.append('year')
# Step 4: Pivot the table to separate 'average_weekly_rent', 'average_quarterly_count' back into columns
df_final = melted_df.pivot_table(index=not_year_columns, 
                                 columns='variable', 
                                 values='value').reset_index()


# Step 5: View the final DataFrame
df_final

variable,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,education,food_establishments,healthcare,industrial,public_transport,recreation,residential,shopping,tests,total
0,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14170,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,10.0,5.0,0.0,150.0,23.0
14171,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,10.0,5.0,0.0,279.0,17.0
14172,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,10.0,5.0,0.0,191.0,10.0
14173,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,11.0,5.0,0.0,202.0,13.0
14174,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,11.0,5.0,0.0,NaN,17.0

In [3775]:
# Only have all data on 2016-2024 so filter out data that is not between these years
df_filtered = df_final[df_final['year'].astype(int).between(2016, 2025)]
df_filtered = df_filtered.drop(columns=["total", 'all_crimes_2015-2024'])
df_filtered = df_filtered.rename(columns={"tests":"internet_speed_test_count"})
print(df_filtered.columns)
len(set(df_filtered["SAL_suburb"]))

Index(['Suburb Cluster', 'SAL_suburb', 'SAL_CODE', 'Suburb Group',
       'AREASQKM21', 'geometry', 'station_count_in_suburb', 'closest_stations',
       'closest_station_1_STOP_NAME', 'closest_station_1_LATITUDE',
       'closest_station_1_LONGITUDE', 'closest_station_2_STOP_NAME',
       'closest_station_2_LATITUDE', 'closest_station_2_LONGITUDE',
       'suburb_centre_latitude', 'suburb_centre_longitude', 'distance_to_CBD',
       'time_to_CBD', 'distance_to_station', 'time_to_station', 'Cemeteries',
       'Civic squares and promenades', 'Conservation reserves',
       'Government schools', 'Natural and semi-natural open space',
       'Non-government schools', 'Parks and gardens',
       'Public housing reserves', 'Recreation corridor',
       'Services and utilities reserves',
       'Sportsfields and organised recreation', 'Tertiary institutions',
       'Transport reservations', 'year', 'A Crimes against the person',
       'Average_household_size', 'Average_num_psns_per_bedroom',
       'B Property and deception offences', 'C Drug offences',
       'D Public order and security offences', 'E Justice procedures offences',
       'F Other offences', 'Median_age_persons',
       'Median_mortgage_repay_monthly', 'Median_tot_fam_inc_weekly',
       'Median_tot_hhd_inc_weekly', 'Median_tot_prsnl_inc_weekly', 'Tot_P_P',
       'Total_dwelings', 'Unnamed: 0', 'average_quarterly_count',
       'average_weekly_rent', 'avg_d_mbps_wt', 'commercial', 'education',
       'food_establishments', 'healthcare', 'industrial', 'public_transport',
       'recreation', 'residential', 'shopping', 'internet_speed_test_count'],
      dtype='object', name='variable')

567

#### 3.3 Inflation
Inflation was gather to be these values from the [SOURCE] which can be found at this link [LINK].
- Mar Qtr 2015 to Mar Qtr 2016: 1.3
- Mar Qtr 2016 to Mar Qtr 2017: 2.1
- Mar Qtr 2017 to Mar Qtr 2018: 1.9
- Mar Qtr 2018 to Mar Qtr 2019: 1.3
- Mar Qtr 2019 to Mar Qtr 2020: 2.2
- Mar Qtr 2020 to Mar Qtr 2021: 1.1
- Mar Qtr 2021 to Mar Qtr 2022: 5.1
- Mar Qtr 2022 to Mar Qtr 2023: 7.0
- Mar Qtr 2023 to Mar Qtr 2024: 3.6
The end data of each recording will be taken as the inflation for that year. For example: 2015-2016 inflation is taken as the inflation for 2016 data

In [3776]:
# inflation data
inflation_dict = {
"2016": 1.3,
"2017": 2.1,
"2018": 1.9,
"2019": 1.3,
"2020": 2.2,
"2021": 1.1,
"2022": 5.1,
"2023": 7.0,
"2024": 3.6
}

# store separately as back up
with open('../data/raw/inflation_data.json', 'w') as file:
    json.dump(inflation_dict, file)

# merge the inflation data
df_filtered['inflation'] = df_filtered['year'].map(inflation_dict)
df_filtered

variable,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,education,food_establishments,healthcare,industrial,public_transport,recreation,residential,shopping,internet_speed_test_count,inflation
16,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,2.0,0.0,0.0,9.0,0.0,35.0,88.0,0.0,NaN,1.3
17,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,2.0,0.0,0.0,9.0,0.0,43.0,88.0,2.0,NaN,2.1
18,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,3.0,3.0,1.0,9.0,0.0,46.0,91.0,3.0,NaN,1.9
19,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,3.0,3.0,1.0,8.0,0.0,46.0,91.0,3.0,923.0,1.3
20,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,POLYGON ((143.8181875020001 -37.55899234999998...,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,...,3.0,3.0,1.0,8.0,0.0,49.0,91.0,3.0,324.0,2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14170,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,10.0,5.0,0.0,150.0,2.2
14171,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,10.0,5.0,0.0,279.0,1.1
14172,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,10.0,5.0,0.0,191.0,5.1
14173,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,11.0,5.0,0.0,202.0,7.0
14174,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,POLYGON ((145.1400128940001 -38.01510086099995...,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,...,0.0,1.0,0.0,0.0,0.0,11.0,5.0,0.0,NaN,3.6

#### 3.4 Domain Scraped Data Merging

In [3777]:
# read in domain scraped data
rental_data2024_df = pd.read_csv("../data/curated/part-00000-09645e5e-30ca-4d69-9cd8-d63fa18084a4-c000.csv")
rental_data2024_df[rental_data2024_df["Standard_Suburb"]=="Melbourne"]["Standard_Suburb"]
rental_data2024_df[rental_data2024_df["Standard_Suburb"]=="Albert Park"]

,Standard_Suburb,average_beds,average_baths,average_parking,average_cost,counts
366,Albert Park,2.125,1.5,0.375,698.625,16

In [3778]:
# fix suburb naming inconsistencies
rental_data2024_df.loc[379, "Standard_Suburb"] = "Melbourne Cbd"
rental_data2024_df

,Standard_Suburb,average_beds,average_baths,average_parking,average_cost,counts
0,Ivanhoe East,2.000000,1.000000,1.000000,545.000000,2
1,Ashwood,2.818182,1.727273,2.000000,719.454545,11
2,Albanvale,2.333333,1.000000,2.666667,398.333333,3
3,Brighton,3.216667,1.966667,1.866667,1004.433333,60
4,Sandringham,2.090909,1.363636,1.818182,587.727273,11
...,...,...,...,...,...,...
440,South Morang,3.000000,1.894737,1.578947,534.210526,19
441,Gruyere,3.000000,2.000000,5.000000,900.000000,1
442,Maribyrnong,2.145833,1.520833,1.270833,568.229167,48
443,South Yarra,1.775510,1.377551,0.801020,650.193878,196
444,Warrnambool,2.944444,1.333333,1.000000,523.333333,18

We see here that domain does not have over 100 suburbs that we have historical rental data on, luckily we have rental data value on 2024 march quarter, suburbs that we do not have domain scraped data on,  we will impute the 2024 march quarterly value instead.

In [3779]:
# list out missing suburbs
not_found = []
l = list(combined_df["SAL_suburb"])
for s in l:
    if s not in list(rental_data2024_df["Standard_Suburb"]):
        not_found.append(s)
        print(s)
print(len(not_found))

Ballarat
Arthurs Creek
Arthurs Seat
Attwood
Avonsleigh
Badger Creek
Balnarring
Balnarring Beach
Bangholme
Bayles
Beaconsfield Upper
Beenak
Belgrave Heights
Bend Of Islands
Blind Bight
Braeside
Bunyip North
Calder Park
Caldermeade
Cannons Creek
Cape Schanck
Castlemaine
Catani
Christmas Hills
Chum Creek
Cockatoo
Cocoroc
Cora Lynn
Cottles Bridge
Dalmore
Dewhurst
Dixons Creek
Don Valley
Eden Park
Essendon Fields
Exford
Garfield
Garfield North
Gilderoy
Gladysdale
Grangefields
Guys Hill
Heath Hill
Hmas Cerberus
Hoddles Creek
Humevale
Iona
Kallista
Kangaroo Ground
Keilor North
Koo Wee Rup North
Lang Lang East
Langwarrin South
Laverton North
Lysterfield
Lysterfield South
Macclesfield
Main Ridge
Maryknoll
McCrae
McKinnon
Melbourne Airport
Menzies Creek
Merricks
Merricks North
Millgrove
Monomeith
Moorabbin Airport
Mount Burnett
Mount Dandenong
Mount Toolebewong
Nangana
Narre Warren East
Nutfield
Oaklands Junction
Pakenham South
Pakenham Upper
Panton Hill
Plenty
Plumpton
Point Leo
Powelltown
Quandong
Ravenhall
Red Hill
Research
Rythdale
Selby
Seville East
Sherbrooke
Silvan
Smiths Gully
Somerton
St Andrews
St Andrews Beach
Steels Creek
Strathewen
Tarrawarra
The Patch
Three Bridges
Toolern Vale
Tooradin
Tottenham
Tremont
Tuerong
Tynong North
Vervale
Wandin East
Warneet
Warrandyte South
Watsons Creek
Wesburn
Wildwood
Wonga Park
Woodstock
Woori Yallock
Yan Yean
Yannathan
Yarra Junction
Yarrambat
Yellingbo
Yering
Yuroke
123

In [3780]:
reduced_df = combined_df[combined_df['SAL_suburb'].isin(not_found)]
reduced_df

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,2020_average_weekly_rent,2020_average_quarterly_count,2021_average_weekly_rent,2021_average_quarterly_count,2022_average_weekly_rent,2022_average_quarterly_count,2023_average_weekly_rent,2023_average_quarterly_count,2024_average_weekly_rent,2024_average_quarterly_count
0,Ballarat,Ballarat,20111,Ballarat,3.7814,"POLYGON ((143.850550147 -37.54589975199997, 14...",0.0,"[{'STOP_NAME': 'Ballarat Central', 'LATITUDE':...",Ballarat Central,-37.558791,...,317.50,1743.75,331.25,1632.25,355.00,1546.50,371.25,1473.25,380.0,1345.0
19,North Eastern Melbourne,Arthurs Creek,20071,Bundoora-Greensborough-Hurstbridge,39.1753,"POLYGON ((145.238933919 -37.53735484499998, 14...",0.0,"[{'STOP_NAME': 'Hurstbridge', 'LATITUDE': -37....",Hurstbridge,-37.639398,...,402.50,2991.00,407.50,2879.00,423.75,3105.00,462.50,2728.75,500.0,2440.0
20,Mornington Peninsula,Arthurs Seat,20072,Dromana-Portsea,8.8149,POLYGON ((144.9586627890001 -38.34853594999998...,0.0,"[{'STOP_NAME': 'Bittern', 'LATITUDE': -38.3373...",Bittern,-38.337390,...,392.50,1883.00,445.00,1395.75,497.50,1390.00,526.25,1653.25,545.0,1712.0
26,North Western Melbourne,Attwood,20082,Gladstone Park-Tullamarine,5.0587,POLYGON ((144.8961075330001 -37.67522380199995...,0.0,"[{'STOP_NAME': 'Broadmeadows', 'LATITUDE': -37...",Broadmeadows,-37.683049,...,391.25,652.75,392.50,595.75,405.00,631.00,436.25,548.25,480.0,505.0
28,South Eastern Melbourne,Avonsleigh,20091,Pakenham,7.5620,POLYGON ((145.4709217070001 -37.92167011299995...,0.0,"[{'STOP_NAME': 'Belgrave', 'LATITUDE': -37.909...",Belgrave,-37.909102,...,353.75,2278.75,367.50,1930.50,395.00,1932.25,443.75,1772.00,480.0,1693.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,Outer Eastern Melbourne,Yarra Junction,22911,Yarra Ranges,17.5184,POLYGON ((145.6398206220001 -37.78903083399996...,0.0,"[{'STOP_NAME': 'Lilydale', 'LATITUDE': -37.755...",Lilydale,-37.755518,...,400.00,873.50,415.00,721.75,450.75,733.00,486.25,767.75,500.0,729.0
562,North Eastern Melbourne,Yarrambat,22916,Bundoora-Greensborough-Hurstbridge,15.3453,POLYGON ((145.1665694620001 -37.62473551999994...,0.0,"[{'STOP_NAME': 'Hawkstowe', 'LATITUDE': -37.62...",Hawkstowe,-37.622992,...,402.50,2991.00,407.50,2879.00,423.75,3105.00,462.50,2728.75,500.0,2440.0
564,Outer Eastern Melbourne,Yellingbo,22925,Yarra Ranges,42.4012,"POLYGON ((145.505065853 -37.81357686499996, 14...",0.0,"[{'STOP_NAME': 'Belgrave', 'LATITUDE': -37.909...",Belgrave,-37.909102,...,400.00,873.50,415.00,721.75,450.75,733.00,486.25,767.75,500.0,729.0
565,Outer Eastern Melbourne,Yering,22930,Yarra Ranges,24.6363,"POLYGON ((145.369123872 -37.66830801499998, 14...",0.0,"[{'STOP_NAME': 'Lilydale', 'LATITUDE': -37.755...",Lilydale,-37.755518,...,400.00,873.50,415.00,721.75,450.75,733.00,486.25,767.75,500.0,729.0
566,North Western Melbourne,Yuroke,22941,Craigieburn,8.8851,"POLYGON ((144.852504143 -37.55800379799996, 14...",0.0,"[{'STOP_NAME': 'Craigieburn', 'LATITUDE': -37....",Craigieburn,-37.601925,...,390.00,2587.25,390.00,2719.75,407.50,2758.25,441.25,2647.00,480.0,2445.0

In [3781]:
# rename domain data so that has a clearer title for the combined data
rental_data2024_df = rental_data2024_df.rename(columns={"Standard_Suburb": "SAL_suburb",
                                                        "average_beds":	"2024_average_beds",
                                                        "average_baths": "2024_average_baths",	
                                                        "average_parking": "2024_average_parking",
                                                        "average_cost":	"average_weekly_rent",
                                                        "counts": "2024_property_count"
                                                        })
rental_data2024_df['year'] = "2024"
rental_data2024_df

,SAL_suburb,2024_average_beds,2024_average_baths,2024_average_parking,average_weekly_rent,2024_property_count,year
0,Ivanhoe East,2.000000,1.000000,1.000000,545.000000,2,2024
1,Ashwood,2.818182,1.727273,2.000000,719.454545,11,2024
2,Albanvale,2.333333,1.000000,2.666667,398.333333,3,2024
3,Brighton,3.216667,1.966667,1.866667,1004.433333,60,2024
4,Sandringham,2.090909,1.363636,1.818182,587.727273,11,2024
...,...,...,...,...,...,...,...
440,South Morang,3.000000,1.894737,1.578947,534.210526,19,2024
441,Gruyere,3.000000,2.000000,5.000000,900.000000,1,2024
442,Maribyrnong,2.145833,1.520833,1.270833,568.229167,48,2024
443,South Yarra,1.775510,1.377551,0.801020,650.193878,196,2024
444,Warrnambool,2.944444,1.333333,1.000000,523.333333,18,2024

In [3782]:
# merge the domain data
df_filtered  = df_filtered.merge(rental_data2024_df, on=['SAL_suburb', 'year'], how='left', suffixes=('', '_new'))

# replace the 2024 march quarterly data if we have scraped data on that suburb
df_filtered['average_weekly_rent'] = df_filtered['average_weekly_rent_new'].combine_first(df_filtered['average_weekly_rent'])
df_filtered['Average_household_size'] = df_filtered['2024_average_beds'].combine_first(df_filtered['Average_household_size'])
df_filtered.head(20)["Average_household_size"]

0     2.800000
1     2.800000
2     2.800000
3     2.800000
4     2.800000
5     2.800000
6     2.800000
7     2.800000
8     3.571429
9     2.100000
10    2.100000
11    2.100000
12    2.100000
13    2.100000
14    2.100000
15    2.100000
16    2.100000
17    2.100000
18    2.700000
19    2.680000
Name: Average_household_size, dtype: float64

In [3783]:
# drop now unnecessary columns
df_filtered = df_filtered.drop(columns=["average_weekly_rent_new", "2024_average_beds"])
df_filtered[df_filtered["SAL_suburb"]=="Portsea"]

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,geometry,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,...,industrial,public_transport,recreation,residential,shopping,internet_speed_test_count,inflation,2024_average_baths,2024_average_parking,2024_property_count
1278,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,5.00,0.0,0.0,NaN,1.3,NaN,NaN,NaN
1279,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,5.00,0.0,0.0,NaN,2.1,NaN,NaN,NaN
1280,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,8.00,0.0,0.0,NaN,1.9,NaN,NaN,NaN
1281,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,12.00,7.0,0.0,302.0,1.3,NaN,NaN,NaN
1282,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,14.00,7.0,0.0,186.0,2.2,NaN,NaN,NaN
1283,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,15.00,7.0,0.0,327.0,1.1,NaN,NaN,NaN
1284,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,15.00,7.0,0.0,317.0,5.1,NaN,NaN,NaN
1285,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,15.00,7.0,0.0,290.0,7.0,NaN,NaN,NaN
1286,Mornington Peninsula,Portsea,22113,Dromana-Portsea,11.3277,POLYGON ((144.7159739350001 -38.31873080399998...,0.0,"[{'STOP_NAME': 'Marshall', 'LATITUDE': -38.198...",Marshall,-38.198549,...,0.0,0.0,15.58,7.0,0.0,NaN,3.6,2.0,1.833333,6.0

In [3784]:
# list out columns with missing values
missing_values = df_filtered.isnull().sum()
pd.set_option('display.max_rows', 100)
missing_values

Suburb Cluster                              0
SAL_suburb                                  0
SAL_CODE                                    0
Suburb Group                                0
AREASQKM21                                  0
geometry                                    0
station_count_in_suburb                     0
closest_stations                            0
closest_station_1_STOP_NAME                 0
closest_station_1_LATITUDE                  0
closest_station_1_LONGITUDE                 0
closest_station_2_STOP_NAME                 0
closest_station_2_LATITUDE                  0
closest_station_2_LONGITUDE                 0
suburb_centre_latitude                      0
suburb_centre_longitude                     0
distance_to_CBD                             0
time_to_CBD                                 0
distance_to_station                         0
time_to_station                             0
Cemeteries                                  0
Civic squares and promenades                0
Conservation reserves                       0
Government schools                          0
Natural and semi-natural open space         0
Non-government schools                      0
Parks and gardens                           0
Public housing reserves                     0
Recreation corridor                         0
Services and utilities reserves             0
Sportsfields and organised recreation       0
Tertiary institutions                       0
Transport reservations                      0
year                                        0
A Crimes against the person                 0
Average_household_size                      0
Average_num_psns_per_bedroom                0
B Property and deception offences           0
C Drug offences                             0
D Public order and security offences        0
E Justice procedures offences               0
F Other offences                            0
Median_age_persons                          0
Median_mortgage_repay_monthly               0
Median_tot_fam_inc_weekly                   0
Median_tot_hhd_inc_weekly                   0
Median_tot_prsnl_inc_weekly                 0
Tot_P_P                                     0
Total_dwelings                              0
Unnamed: 0                               4536
average_quarterly_count                     0
average_weekly_rent                         0
avg_d_mbps_wt                            2268
commercial                                  0
education                                   0
food_establishments                         0
healthcare                                  0
industrial                                  0
public_transport                            0
recreation                                  0
residential                                 0
shopping                                    0
internet_speed_test_count                2268
inflation                                   0
2024_average_baths                       4659
2024_average_parking                     4659
2024_property_count                      4659
dtype: int64

In [3785]:
#list(df_filtered[df_filtered["year"]=="2024"]["average_weekly_rent"])

The domain data columns do not fit indexing structure of year and suburb, as all this data is on 2024. Hence why so many values are missing in these columns as these will be rows will a year entry of not 2024. These columns will have to be preprocessed later on when we are finished analysising them.

In [3786]:
# output our combined dataset
df_filtered.to_csv('../data/curated/FINAL_combined.csv', index=False)
df_filtered = df_filtered.drop(columns=["geometry"])
df_filtered.to_csv('../data/curated/FINAL_combined_no_poly.csv', index=False)
df_filtered

,Suburb Cluster,SAL_suburb,SAL_CODE,Suburb Group,AREASQKM21,station_count_in_suburb,closest_stations,closest_station_1_STOP_NAME,closest_station_1_LATITUDE,closest_station_1_LONGITUDE,...,industrial,public_transport,recreation,residential,shopping,internet_speed_test_count,inflation,2024_average_baths,2024_average_parking,2024_property_count
0,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,143.820068,...,9.0,0.0,35.0,88.0,0.0,NaN,1.3,NaN,NaN,NaN
1,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,143.820068,...,9.0,0.0,43.0,88.0,2.0,NaN,2.1,NaN,NaN,NaN
2,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,143.820068,...,9.0,0.0,46.0,91.0,3.0,NaN,1.9,NaN,NaN,NaN
3,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,143.820068,...,8.0,0.0,46.0,91.0,3.0,923.0,1.3,NaN,NaN,NaN
4,Ballarat,Alfredton,20023,Wendouree-Alfredton,8.0095,0.0,"[{'STOP_NAME': 'Wendouree', 'LATITUDE': -37.53...",Wendouree,-37.539716,143.820068,...,8.0,0.0,49.0,91.0,3.0,324.0,2.2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5098,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,145.102150,...,0.0,0.0,10.0,5.0,0.0,150.0,2.2,NaN,NaN,NaN
5099,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,145.102150,...,0.0,0.0,10.0,5.0,0.0,279.0,1.1,NaN,NaN,NaN
5100,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,145.102150,...,0.0,0.0,10.0,5.0,0.0,191.0,5.1,NaN,NaN,NaN
5101,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,145.102150,...,0.0,0.0,11.0,5.0,0.0,202.0,7.0,NaN,NaN,NaN
5102,Southern Melbourne,Waterways,22720,Mentone-Parkdale-Mordialloc,1.6949,0.0,"[{'STOP_NAME': 'Aspendale', 'LATITUDE': -38.02...",Aspendale,-38.027220,145.102150,...,0.0,0.0,11.0,5.0,0.0,NaN,3.6,2.0,2.0,1.0